################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj
/.vs/DiceGame/v15
/packages/EPPlus.4.5.3.1
